.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.container {
  display: flex;
  align-items: center;
}

.container > * {
  margin: 1rem;
}

.link {
  display: flex;
  justify-content: center;
}

.lastLink {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

@media screen and (max-width: 667px) {
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
